header.header
  nav.nav.nav--login
    if user
      a.nav__el(href='/') Home
        a.nav__el(href='/my')
          //- img.header__logo(src=`/img/companies/${user.company.companyPhoto}` alt=`${user.company.companyName} Logo`)
          img.nav__user-img(src=`/img/companies/${user.company.companyPhoto}` alt=`${user.company.companyName} Logo`)
          span= user.company.companyName
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.userPhoto}` alt=`Photo of ${user.userName}`)
        span= user.userName.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='#') Sign up