extends base

block content
  main.main
    .user-view
      include _sidebar
      

      .user-view__content.txt-cntr
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Company's Brands
          
        - if (user.company.companyType === 'BrandOwner')
          a.btn__showAddForm.btn.btn--green.btn--small
            div.btn-add
              svg.card__icon-white.mr
                use(xlink:href='/img/icons.svg#icon-file-plus')
              | Add Brand

        .add__content.hidden
          .user-view__form-container
            h2.heading-secondary.ma-bt-md ADD A Brand
            form.form.form-brand-data(companies=cleanCompanies)
              .form__group
                label.form__label(for='name') Brand Name
                input#name.form__input(type='text', value=`brand name`, required, name='name')
              .form__group.ma-bt-md
                label.form__label(for='group') Product group
                input#group.form__input(type='text', value=`product group`, required, name='group')
              .form__group.ma-bt-md
                label.form__label(for='selectBrandManagers') Select Brand Managers
                select.form__input(id='selectBrandManagers' multiple)  
              .form__group.ma-bt-md
                label.form__label(for='selectSuppliers') Select Brand Suppliers
                select.form__input(id='selectSuppliers' multiple)  
              .form__group.form__photo-upload
                input.form__upload(type='file', accept='image/*',id='photo', name='photo')
                label(for='photo') Choose a logo

              .form__group.right
                button.btn.btn--small.btn--green Save Brand
              //- each company in cleanCompanies 
              //-   p= `${company.name} / ${company.id}`

        .line &nbsp;

        .single-row-container
          .single-row-header
            div nr.
            div Beand Name
            div Product Group
            div BrandOwner
            div added
          each brand, index in cleanDoc
            .single-row
              div= `${index + 1}`
              div= `${brand.name}`
              div= `${brand.groep}`
              div= `${brand.Brandowner}`
              div= `${brand.date}`
              //- ${brand.brandManagers.length} | ${brand.brandSuppliers.length} | 

