extends base

block content
  main.main
    .user-view
      include _sidebar

      .user-view__content.txt-cntr
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Company's Colors

        a.btn__showAddForm.btn.btn--green.btn--small(companyID=user.company.id) 
          div.btn-add
            svg.card__icon-white.mr
              use(xlink:href='/img/icons.svg#icon-file-plus')
            | Add Color

        .add__content.hidden
          .user-view__form-container
            h2.heading-secondary.ma-bt-md Add A Color

            p= JSON.stringify(cleanBrandList)

            form.form.form-color-data(companies=cleanBrandList)
              .form__group
                label.form__label(for='name') ColorName
                input#name.form__input(type='text', value=`${user.userName}`, required, name='name')
              .form__group
                label.form__label(for='name') Brand Name
                input#name.form__input(type='text', value=`brand name`, required, name='name')
              .form__group.ma-bt-md
                label(for='selectBrand') Select Brand
                select(id='selectBrand' multiple)  
              .form__group.right
                button.btn.btn--small.btn--green Save user
        .line &nbsp;
              
        
        p= JSON.stringify(cleanColorList)