extends base

block content
  main.main
    .user-view
      .user-view__content.txt-cntr
        .user-view__form-container(artworkID=artwork.id, colors=colors)
          h2.heading-secondary.ma-bt-md Job Detail

        a.btn.btn--blue.btn--small
          div.btn-add
            svg.card__icon-white.mr
              use(xlink:href='/img/icons.svg#icon-file-plus')
            | Submit Measurement data
        
        .add__content
          .user-view__form-container
            h2.heading-secondary.ma-bt-md Job Details
            
            P.form__label= `ID: ${artwork.artworkId}`
            P.form__label= `Name: ${artwork.artworkName}`
            P.form__label= `Description: ${artwork.artworkDescription}`
            P test


            form.form
              .form__group.submit-job-form
                div#markerImage
                  img(src=`/img/artworks/${artwork.artworkImage}`)
                div#dropdownContainer
                  each color, index in artwork.artworkColors
                    div= `${index + 1}`
                    div= `${color.coords}`
                    div= `${color.color.colorName}`
                    div= `${color.color.values}`